@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid yellowgreen; */
}

#root {
  @apply w-full h-full;
  font-family: "Inter", sans-serif;
  /* background-color: rgba(14, 14, 14, 0.892); */
  background: rgb(20, 20, 20);
}

.cv-button:hover {
  @apply bg-blue-500 text-white;
}

.stackIcon {
  @apply w-16 m-3 rounded-md p-3 hover:-translate-y-2 hover:shadow-2xl hover:bg-blue-400 shadow-slate-500 transition-all duration-200 cursor-pointer;
}

.tech-stack {
  @apply w-1/2 flex flex-col justify-start items-center;
}

.tech-article {
  @apply text-black font-extrabold text-6xl;
}

.nav-links > a {
  @apply text-black drop-shadow-md text-[0.875rem] font-normal;
}

.nav-links > a:hover {
  @apply text-red-500;
}

.about-line::after {
  content: "";
  position: absolute;
  top: 1.2rem;
  right: 9rem;
  width: 15rem;
  height: 1px;
  background: white;
}
